<div style="text-align: center" class="page-container" (window:resize)="screenChanged()">

    <div class="responsive-table">
        <div class="item-top">
            <div class="header-title">The World's mined resources in
                <div style="display: inline" *ngIf="minutes > 1">
                    <div class="time">{{minutes}}</div> minutes,
                </div>
                <div style="display: inline" *ngIf="minutes === 1">
                    <div class="time">{{minutes}}</div> minute,
                </div>
                <div style="display: inline" *ngIf="seconds === 1">
                    <div class="time">{{seconds}}</div> second
                </div>
                <div style="display: inline" *ngIf="seconds > 1">
                    <div class="time">{{seconds}}</div> seconds
                </div>
            </div>
            <border-line></border-line>
        </div>

    <!-- Middle component where content goes -->
        <div class="item-mid">
            <div class="break-space2x"></div>
            <div class="content-item">
                <div class="content-top content-title">
                    Coal
                </div>
                <div class="content-mid">
                    <div #coal
                         class="content-center color1"
                         counto [step]="13"
                         [countTo]="coalTo"
                         [countFrom]="coalFrom"
                         [duration]="duration"
                         (countoChange)="counto2 = $event"
                    >
                        {{counto2 | number: '1.0-0'}}
                    </div>
                </div>
                <div class="content-bot content-measure">
                    Tonnes
                </div>
            </div>
            <div class="break-space">
                <svg height="100%" width="100%">
                    <line x1="50%" y1="15%" x2="50%" y2="85%" style="stroke:rgba(255,255,255,0.6);stroke-width:2"></line>
                </svg>
            </div>
            <div class="content-item">
                <div class="content-top content-title">
                    Gold
                </div>
                <div class="content-mid">
                    <div #gold
                         class="content-center color2"
                         counto [step]="5"
                         [countTo]="goldTo"
                         [countFrom]="goldFrom"
                         [duration]="duration"
                         (countoChange)="counto3 = $event"
                    >
                        {{counto3 | number: '1.3-3'}}
                    </div>
                </div>
                <div class="content-bot content-measure">
                    Kilograms
                </div>
            </div>
            <div class="break-space">
                <svg height="100%" width="100%">
                    <line x1="50%" y1="15%" x2="50%" y2="85%" style="stroke:rgba(255,255,255,0.6);stroke-width:2"></line>
                </svg>
            </div>
            <div class="content-item">
                <div class="content-top content-title">
                    Overall
                </div>
                <div class="content-mid">
                    <div #general
                         class="content-center color3"
                         counto [step]="13"
                         [countTo]="to"
                         [countFrom]="from"
                         [duration]="duration"
                         (countoChange)="counto = $event"
                         (countoEnd)="changeCounter();"
                    >
                        {{counto | number: '1.0-0'}}
                    </div>
                </div>
                <div class="content-bot content-measure">
                    Tonnes
                </div>
            </div>
            <div class="break-space2x"></div>
        </div>
    <!-- Middle component END -->

        <div class="item-bot">
            <bot-border-line></bot-border-line>
        </div>
    </div>
    <div #cursor class="cursor-parent">
        <a (click)="goDown()" class="section_scroll scroll"><i class="fa fa-angle-down cursor fa-4x"></i></a>
    </div>
</div>