<div style="text-align: center" class="page-container" (window:resize)="screenChanged()">

    <div class="responsive-table">
        <!--<border-line style="height: 10px"></border-line>
        <bot-border-line></bot-border-line>-->
        <div class="item-top">
            <div class="header-title">The world's mined resources in</div>
            <border-line></border-line>
        </div>
        <div class="item-mid">

        </div>
        <div class="item-bot">
            <bot-border-line></bot-border-line>
        </div>
    </div>
    <div #cursor class="cursor-parent">
        <a (click)="goDown()" class="section_scroll scroll"><i class="fa fa-angle-down cursor fa-4x"></i></a>
    </div>
</div>