<div style="text-align: center" class="page-container" (window:resize)="screenChanged()">
    <div class="center-block1">
        <border-line></border-line>
        <div>
            <div style="color: white" counto [step]="10" [countTo]="10" [countFrom]="1" [duration]="cnt" (countoChange)="counto = $event">{{counto | currency:'EUR':true:'1.2-2'}}</div>
        </div>
        <bot-border-line></bot-border-line>
    </div>
    <div #cursor class="cursor-parent">
        <a (click)="goDown()" class="section_scroll scroll"><i class="fa fa-angle-down cursor fa-4x"></i></a>
    </div>
</div>