<div mnFullpage
     [mnFullpageScrollingSpeed]="800"
>
    <div class="section welcome-section fp-section fp-table">
        <div class="fp-tableCell test">
            <app-first-page class="first-page"></app-first-page>
        </div>
    </div>
    <div class="section welcome-section fp-section fp-table">
        <div class="fp-tableCell">
            2
        </div>
    </div>
    <div class="section welcome-section fp-section fp-table">
        <div class="fp-tableCell">
            3
        </div>
    </div>
</div>