<div mnFullpage
     #fullpage
     [mnFullpageScrollingSpeed]="1000"
     [mnFullpageNavigation]="true"
     [mnFullpageNavigationPosition]="'right'"
>
    <div class="section welcome-section fp-section fp-table">
        <div class="fp-tableCell test">
            <app-first-page></app-first-page>
        </div>
    </div>
    <div class="section welcome-section fp-section fp-table">
        <div class="fp-tableCell">
            <app-second-page></app-second-page>
        </div>
    </div>
    <div class="section welcome-section fp-section fp-table">
        <div class="fp-tableCell">
            3
        </div>
    </div>
</div>