@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
:root{
  --second-speed: 2s;
  --minute-speed: 7s;
  --hour-speed: 20s;
}
body{
  margin: 0;
  background: url("../assets/photos/back2.gif");
}
*{
  cursor: default;
  .scroll, i, .section_scroll{
    cursor: pointer;
  }
}
.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.pull-bottom{
  position: absolute;
  bottom: 60%;
  width: 100%
}
.first-page{
  //background: url("../assets/photos/field_s.gif");
  background-position: center;
  background-size: cover;
}
.page-container{
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.center-block {
  position: absolute;
  justify-content: center;
  text-align: center;
  transform: translate(-50%,-50%);
  height: 50%;
  width: 100%;
  left: 50%;
  top: 45%;
  transform-origin: center center;
}
.center-block1 {
  position: relative;
  height: 0;
  padding-bottom: 24%;
  justify-content: center;
  text-align: center;
  transform: translate(-50%,-50%);
  width: 100%;
  left: 50%;
  top: 45%;
  transform-origin: center center;
}

.center-block2 {
  position: absolute;
  justify-content: center;
  text-align: center;
  transform: translate(-50%,-50%);
  height: 50%;
  width: 100%;
  left: 50%;
  top: 45%;
  transform-origin: center center;
}

.number-font{
  font-family: 'Roboto Condensed', sans-serif;
}

.title{
  color: rgba(245, 245, 245, 0.9);
  font-size: calc(18px + 3vw);
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  opacity: 1;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  min-height: 100%;
}

body {
  background-color: #00A99E;
}

.clock {
  height: 12vw;
  width: 12vw;
  background: white;
  box-sizing: border-box;
  border-radius: 100%;
  border: 0.5vw solid #67D2C8;
  position: absolute;
  top: 500%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  .top {
    position: absolute;
    width: 0.2vw;
    height: 0.5vw;
    background: #262626;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .right {
    position: absolute;
    width: 0.5vw;
    height: 0.2vw;
    background: #262626;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
  }
  .bottom {
    position: absolute;
    width: 0.2vw;
    height: 0.5vw;
    background: #262626;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .left {
    position: absolute;
    width: 0.5vw;
    height: 0.2vw;
    background: #000000;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
  }
  .center {
    width: 0.4vw;
    height: 0.4vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #262626;
    border-radius: 100%;
    z-index: 1000;
  }
  .shadow {
    height: 10vw;
    width: 10vw;
    position: absolute;
    left: 60px;
    top: 60px;
    transform: rotate(135deg);
  }
  .hour {
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    //animation: time 86400s infinite linear;
    animation: time var(--hour-speed) infinite linear;
    &:before {
      position: absolute;
      content: "";
      background: #262626;
      height: 2.6vw;
      width: 3px;
      top: 3vw;
    }
  }
  .minute {
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    //animation: time 60s infinite linear;
    animation: time var(--minute-speed) infinite linear;
    &:before {
      position: absolute;
      content: "";
      background: #262626;
      height: 3.65vw;
      width: 2px;
      top: 1.9vw;
    }
  }

  .second {
    width: 3px;
    height: 100%;
    position: absolute;
    left: -0;
    right: 0;
    margin: 0 auto;
    //animation: time 60s infinite linear;
    animation: time var(--second-speed) infinite linear;
    &:before {
      position: absolute;
      content: "";
      background: #fd1111;
      height: 2.9vw;
      width: 2px;
      top: 2.7vw;
      left: 0;
    }
  }
}

@keyframes time {
  to {
    transform: rotate(360deg);
  }
}

.cursor{
  color: rgba(245, 245, 245, 0.670);
  font-size: calc(18px + 3vw);
}
.section_scroll{
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  left: 50%;
  color: #ffffff;
  /* Absolute Position Center */
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 100%;
  /* Floating Animation */
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}
.section_scroll:hover{color: #ffffff;}
a.section_scroll:focus, a:hover{color: #ffffff;outline: 0;}

@-webkit-keyframes Floatingx{
  from {-webkit-transform:translate(-50%, 0px);}
  50% {-webkit-transform:translate(-50%, 20px);}
  to {-webkit-transform: translate(-50%, -0px);    }
}

@-moz-keyframes Floating{
  from {-moz-transform:translate(-50%, 0px);}
  50% {-moz-transform:translate(-50%, 20px);}
  to {-moz-transform: translate(-50%, -0px);}
}

//********************************************
//  FLEX BODIES
//********************************************
.responsive-table{
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}
.item-box{
  height: 100%;
  position: absolute;
  width: 100%;
  padding-bottom: 28%;
}

.item-top{
  display: flex;
  flex: 5.5;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.item-top-small{
  display: flex;
  flex: 3.5;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.item-mid{
  display: flex;
  flex: calc((135vw * .10 ));
  flex-direction: row;
}
.item-mid-small{
  display: flex;
  flex: calc((115vw * .07 ));
  flex-direction: row;
}
.item-bot{
  display: flex;
  flex: 5.4;
}

//********************************************
//  MIDDLE CONTENT
//********************************************
.content-item{
  display: flex;
  flex: 10;
  flex-direction: column;
}
.content-top{
  flex: 2.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-top-small{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-mid{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3.5;
}
.content-bot{
  flex: 3;
  align-items: flex-start;
  justify-content: center;
}
.content-bot-small{
  flex: 1.7;
  align-items: flex-start;
  justify-content: center;
}
.content-title{
  font-family: 'Lora', serif;
  font-size: calc(3px + (5vw * .35));
}
.content-title-small{
  font-family: 'Lora', serif;
  font-size: calc(5vw * .30);
}
.content-center{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: .4vw;
  color: white;
  font-size: calc(12px + 4.6vw);
}
.content-center-small{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: .4vw;
  color: white;
  font-size: calc(8px + 3vw);
}
.content-measure{
  font-family: 'Cabin Condensed', sans-serif;
  color: white;
  font-size: calc(8px + 1vw);
}
.color1 {
  color: #1599b7;
}
.color2 {
  color: #f9daa4;
}
.color3 {
  color: #ff4c3e;
}
.color4 {
  color: #27ae60;
}
.color5 {
  color: #9b59b5;
}
.color6 {
  color: #f0c30f;
}
//********************************************
//  EXTRA
//********************************************

.break-space{
  flex: 1;
  display: flex;
}
.break-space2x{
  flex: 2;
  display: flex;
}

.header-title{
  font-family: 'Lora', serif;
  font-size: calc(3px + (5vw * .35));
  margin-bottom: 20px;
  width: 100%;
}
.time{
  position: relative;
  display: inline-block;
  min-width: 1.7%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  font-size: calc(1px + 2.1vw);
}

//********************************************
//  FORTH PAGE
//********************************************
.forth-page{
  background: url("../assets/photos/small_steps.png");
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

//***************
//  RUND BOX
//***************
.round-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.91);
  height: calc(120px + 26vw);
  width: calc(120px + 26vw);
  border-radius: 50%;
  margin-bottom: 20px;
}
.box-title {
  display: flex;
  width: 80%;
  flex: 6;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
.box-break {
  width: 100%;
  flex: .4;
  overflow: hidden;
}
.box-timer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  flex: 6;
}
.box-timer-top{
  flex: 1.7;
  align-items: flex-start;
  justify-content: center;
}
.box-timer-bot {
  flex: 1.7;
  align-items: flex-start;
  justify-content: center;
}
//***************
//  RUND BOX END
//***************