@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
:root{
  --second-speed: 3s;
  --minute-speed: 7s;
  --hour-speed: 10s;
}
body{
  margin: 0;
  background: url("../assets/photos/back2.gif");
}
.pull-bottom{
  position: absolute;
  bottom: 60%;
  width: 100%
}
.first-page{
  //background: url("../assets/photos/field_s.gif");
  background-position: center;
  background-size: cover;
}
.page-container{
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.center-block {
  position: absolute;
  justify-content: center;
  text-align: center;
  transform: translate(-50%,-50%);
  height: 50%;
  width: 100%;
  left: 50%;
  top: 45%;
  transform-origin: center center;
}
.center-block1 {
  position: relative;
  height: 0;
  padding-bottom: 24%;
  justify-content: center;
  text-align: center;
  transform: translate(-50%,-50%);
  width: 100%;
  left: 50%;
  top: 45%;
  transform-origin: center center;
}

.center-block2 {
  position: absolute;
  justify-content: center;
  text-align: center;
  transform: translate(-50%,-50%);
  height: 50%;
  width: 100%;
  left: 50%;
  top: 45%;
  transform-origin: center center;
}

.number-font{
  font-family: 'Roboto Condensed', sans-serif;
}

.title{
  color: rgba(245, 245, 245, 0.9);
  font-size: 2.7vw;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  opacity: 1;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  min-height: 100%;
}

body {
  background-color: #00A99E;
}

.clock {
  height: 12vw;
  width: 12vw;
  background: white;
  box-sizing: border-box;
  border-radius: 100%;
  border: 0.5vw solid #67D2C8;
  position: absolute;
  top: 300%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  .top {
    position: absolute;
    width: 0.2vw;
    height: 0.5vw;
    background: #262626;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .right {
    position: absolute;
    width: 0.5vw;
    height: 0.2vw;
    background: #262626;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
  }
  .bottom {
    position: absolute;
    width: 0.2vw;
    height: 0.5vw;
    background: #262626;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .left {
    position: absolute;
    width: 0.5vw;
    height: 0.2vw;
    background: #000000;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
  }
  .center {
    width: 0.3vw;
    height: 0.3vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #262626;
    border-radius: 100%;
    z-index: 1000;
  }
  .shadow {
    height: 10vw;
    width: 10vw;
    position: absolute;
    left: 60px;
    top: 60px;
    transform: rotate(135deg);
  }
  .hour {
    width: 3px;
    height: 100%;
    position: absolute;
    left: -1%;
    right: 0;
    margin: 0 auto;
    //animation: time 86400s infinite linear;
    animation: time var(--hour-speed) infinite linear;
    &:before {
      position: absolute;
      content: "";
      background: #262626;
      height: 2.6vw;
      width: 3px;
      top: 3vw;
    }
  }
  .minute {
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    //animation: time 60s infinite linear;
    animation: time var(--minute-speed) infinite linear;
    &:before {
      position: absolute;
      content: "";
      background: #262626;
      height: 3.65vw;
      width: 2px;
      top: 1.9vw;
    }
  }

  .second {
    width: 3px;
    height: 100%;
    position: absolute;
    left: -0;
    right: 0;
    margin: 0 auto;
    //animation: time 60s infinite linear;
    animation: time var(--second-speed) infinite linear;
    &:before {
      position: absolute;
      content: "";
      background: #fd1111;
      height: 2.9vw;
      width: 2px;
      top: 2.7vw;
      left: 0;
    }
  }
}

@keyframes time {
  to {
    transform: rotate(360deg);
  }
}

.cursor{
  color: rgba(245, 245, 245, 0.670);
  font-size: calc(18px + 3vw);
}
.section_scroll{
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  left: 50%;
  color: #ffffff;
  /* Absolute Position Center */
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 100%;
  /* Floating Animation */
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}
.section_scroll:hover{color: #ffffff;}
a.section_scroll:focus, a:hover{color: #ffffff;outline: 0;}

@-webkit-keyframes Floatingx{
  from {-webkit-transform:translate(-50%, 0px);}
  50% {-webkit-transform:translate(-50%, 20px);}
  to {-webkit-transform: translate(-50%, -0px);    }
}

@-moz-keyframes Floating{
  from {-moz-transform:translate(-50%, 0px);}
  50% {-moz-transform:translate(-50%, 20px);}
  to {-moz-transform: translate(-50%, -0px);}
}

.item-box{
  height: 82%;
  top: 15%;
  position: absolute;
}

.item-title{
  height: 20%;
}

.item-content{
  height: 60%;
}

.item-measurements{
  height: 20%;
}
